## 這個資料的外觀（列數、欄數）為何？

In [1]:
import pandas as pd
df = pd.read_csv('https://storage.googleapis.com/py_ml_datasets/train.csv')
print df.__

(891, 12)

## 這個資料各欄位的資料類型為何？

In [2]:
print df.__

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

## 印出這個資料的各欄位名稱

In [3]:
for i in df.__:
    print i

PassengerId
Survived
Pclass
Name
Sex
Age
SibSp
Parch
Ticket
Fare
Cabin
Embarked

## 這個資料的遺漏值狀況為何？

In [4]:
def count_col_null(df):
    null_stats = []
    for i in range(len(df.columns)):
        null_stats.append(sum(df.iloc[:, i].isnull()))
    null_stats_df = pd.DataFrame({
        "columns": list(df.columns),
        "null_cnts": null_stats
    })
    return null_stats_df

count_col_null(df)

        columns  null_cnts
0   PassengerId          0
1      Survived          0
2        Pclass          0
3          Name          0
4           Sex          0
5           Age        177
6         SibSp          0
7         Parch          0
8        Ticket          0
9          Fare          0
10        Cabin        687
11     Embarked          2

## 計算從各港口登船的乘客人數分別為何？

In [5]:
print df.Embarked.value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

## 計算男性與女性的存活人數分別為何？

In [6]:
# 男性
print df.Survived[df.Sex == 'male'].value_counts(sort = False)
# 女性
print df.Survived[df.Sex == 'female'].value_counts(sort = False)

0    468
1    109
Name: Survived, dtype: int64
0     81
1    233
Name: Survived, dtype: int64

## 計算男性與女性的存活比例分別為何？

In [7]:
# 男性
print df.Survived[df.Sex == 'male'].value_counts(sort = False, normalize = True)
# 女性
print df.Survived[df.Sex == 'female'].value_counts(sort = False, normalize = True)

0    0.811092
1    0.188908
Name: Survived, dtype: float64
0    0.257962
1    0.742038
Name: Survived, dtype: float64

## 計算 `age` 的中位數，並將遺漏的年紀以中位數填補

In [8]:
age_median = df.Age.median()
print age_median
df.Age = df.Age.fillna(age_median)
print sum(df.Age.isnull())

28.0
0